{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
set classes = [
element['#field_prefix'] is not empty or element['#field_suffix'] is not empty ? 'input-group-field',
]
%}
<input{{ attributes.addClass(classes) }} />{{ children }}
