{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass(['media', 'media--image-text']) }}>
  <div class="media__image">
    {{ content.field_media_image }}
  </div>
  <div class="media__caption">
    {{ content|without('field_media_image', 'field_description') }}
    <div class="media__caption__description">
      {{ content.field_description }}
    </div>
  </div>
</article>
