{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="grid-container">
      <div class="grid-row">
        <div class="cell content-col">
          {{ content|without('field_media') }}
        </div>
        <div class="cell media-col">
          {{ content.field_media }}
        </div>
      </div>
    </div>
  </section>
{% endblock paragraph %}
