<article{{ attributes.addClass(['node--news', 'node--news--teaser']) }}>
  {{ title_prefix }}
  <h2{{ title_attributes }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
  {{ title_suffix }}
  {% if display_submitted %}
    <footer>
      <div{{ author_attributes }}>
        {% trans %}Created on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content }}
  </div>

</article>
