{#
/**
 * @file banner_slider.html.twig
 * Default theme implementation to present a banner slider.
 *
 * @see template_preprocess_banner_slider()
 *
 * @ingroup themeable
 */
#}
{% if items|length > 1 %}
  <div{{ attributes.addClass(['slideshow', 'swiper', 'swiper--banner']) }}>
    <div class="swiper-wrapper">
      {% for key, item in items %}
        <div{{ item_attributes[key].addClass('slideshow__item', 'swiper-slide') }}>
          {% if banner_media and banner_media[key] %}
            {{ banner_media[key] }}
          {% elseif banner_videos and banner_videos[key] %}
            {{ banner_videos[key] }}
          {% endif %}
          <div class="grid-container">
            <div class="slideshow__item__content grid-row">
              <div class="cell">
                {{ item }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
{% else %}
  <div{{ attributes.addClass(['slideshow']) }}>
    {% for key, item in items %}
      <div{{ item_attributes[key].addClass('slideshow__item') }}>
        {% if banner_media and banner_media[key] %}
          {{ banner_media[key] }}
        {% elseif banner_videos and banner_videos[key] %}
          {{ banner_videos[key] }}
        {% endif %}
        <div class="grid-container">
          <div class="slideshow__item__content grid-row">
            <div class="cell">
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
