{#
/**
 * @file banner.html.twig
 * Default theme implementation to present banner entities.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_banner()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('banner') }}>
  {{ title_prefix }}
  {% if parent_delta == 0 %}
    <h1 class="banner__title">{{ title }}</h1>
  {% else %}
    <h2 class="banner__title">{{ title }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
