<header id="page-header" role="banner" data-headroom>
  <div class="grid-container">
    <div class="grid-row header-grid">
      <div class="cell cell--branding">
        {{ page.logo }}
      </div>
      <div class="cell cell--main-nav">
        <div class="hide-for-large burger-cn">
          <button class="hamburger hamburger--shelf" type="button" aria-controls="mobile-nav" aria-label="mobile Navigation öffnen" aria-expanded="false">
            <div class="inner">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </button>
        </div>
        <div class="show-for-large">
          {{ page.primary_nav }}
        </div>
      </div>
    </div>
  </div>
</header>
{{ page.page_title }}
