<footer id="page-footer" role="contentinfo">
  <div class="grid-container">
    <div class="grid-row footer-grid">
      <div class="cell">
        todo: footer left content
      </div>
      <div class="cell">
        todo: footer center content
      </div>
      <div class="cell">
        {{ page.footer_nav }}
      </div>
    </div>
  </div>
</footer>
