{% if page.help or page.info_panel %}
  <aside id="page-info" class="grid-container" role="complementary">
    <div class="grid-row">
      {% if page.help %}
        <div class="cell">
          {{ page.help }}
        </div>
      {% endif %}
      {% if page.info_panel %}
        <div class="cell">
          {{ page.info_panel }}
        </div>
      {% endif %}
    </div>
  </aside>
{% endif %}
