<div class="grid-container">
  <div class="grid-row">
    {% if breadcrumb %}
      <nav class="cell" aria-label="{'You are here'|t}:">
        <ul class="breadcrumbs">
          {% for item in breadcrumb %}
            <li>
              {% if item.url and not item.current %}
                <a href="{{ item.url }}">{{ item.text|raw }}</a>
              {% elseif item.current %}
                <span class="show-for-sr">{'Current'|t}: </span> {{ item.text }}
              {% else %}
                {{ item.text }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
</div>
