{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul
    {% if menu_level == 0 %}
      {{ attributes.addClass(['menu', 'menu--main']) }}
    {% else %}
      class="submenu menu vertical"
    {% endif %}
    >
    {% for item in items %}
      <li{{ item.below ? item.attributes.addClass(['has-submenu']) : item.attributes }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
