<nav{{ attributes.addClass('mobile-nav')|without('role', 'aria-labelledby', 'aria-label') }} aria-label="{{ configuration.label }}" id="mobile-nav">
  {{ title_prefix }}
  {{ title_suffix }}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
