{% if site_logo %}
<div class="branding">
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__logo">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
  </a>
</div>
{% endif %}
