{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'responsive-embed',
  'widescreen',
]
%}
{% for item in items %}
  <div{{ attributes.addClass(classes) }}>{{ item.content }}</div>
{% endfor %}
