<div{{ attributes.addClass(['grid-row', 'media-gallery']) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass(['cell', 'media-gallery__item']) }}>{{ item.content }}</div>
  {% endfor %}
</div>
