{% if multiple and items|length > 1 %}
  <div{{ attributes.addClass(['swiper', 'swiper--agoraslider', 'slider']) }}>
    <div class="swiper-wrapper">
      {% for item in items %}
        <div{{ item.attributes.addClass(['slider__item', 'swiper-slide']) }}>{{ item.content }}</div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
{% else %}
  <div{{ attributes.addClass(['slider']) }}>
    {% for item in items %}
      <div{{ item.attributes.addClass(['slider__item']) }}>{{ item.content }}</div>
    {% endfor %}
  </div>
{% endif %}
