{#
/**
 * @file agoralocation_location.html.twig
 * Default theme implementation to render a location block.
 *
 * @see template_preprocess_agoralocation_location()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('location-wrapper', 'grid-row') }}>
  {% for item in items %}
    <div class="location vcard cell">
      {% if item.organization or item.title %}
        <span class="fn org"><strong>{{ item.organization ?: item.title }}</strong></span>
      {% endif %}
      <div class="adr">
          <div class="street-address">
            {{ item.address_line1 }}
            {% if item.address_line2 %}
              <br />
              {{ item.address_line2 }}
            {% endif %}
          </div>
          {% if item.postal_code %}
            <span class="postal-code">{{ item.postal_code }}</span>
          {% endif %}
          {% if item.locality %}
            <span class="locality">{{ item.locality }}</span>
          {% endif %}
          {% if item.country_code %}
            <div class="country-code show-for-sr">{{ item.country_code }}</div>
          {% endif %}
      </div>
      {% if item.phone %}
        {% if item.phone is iterable %}
          {% for phone in item.phone %}
            <div class="tel tel--phone">
              {{ 'Phone'|t }}:<span class="type show-for-sr">voice</span> <span class="value" title="{{ 'Phone'|t }}"><a href="tel:{{ phone|replace({' ': '', '-': '', '/': '', '(0)': ''}) }}">{{ phone }}</a></span>
            </div>
          {% endfor %}
        {% else %}
          <div class="tel tel--phone">
            {{ 'Phone'|t }}:<span class="type show-for-sr">voice</span> <span class="value" title="{{ 'Phone'|t }}"><a href="tel:{{ item.phone|replace({' ': '', '-': '', '/': '', '(0)': ''}) }}">{{ item.phone }}</a></span>
          </div>
        {% endif %}
      {% endif %}
      {% if item.fax %}
        <div class="tel tel--fax">
          {{ 'Fax'|t }}:<span class="type show-for-sr">fax</span> <span class="value">{{ item.fax }}</span>
        </div>
      {% endif %}
      {% if item.mail %}
        <div class="email">
          {{ 'E-mail'|t }}:<span class="type show-for-sr">email</span> <span><a href="mailto:{{ item.mail }}">{{ item.mail }}</a></span>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
