{% if label_hidden %}
  {% if multiple %}
    <ul{{ attributes }}>
      {% for item in items %}
        <li{{ item.attributes }}>{{ item.content }}</li>
      {% endfor %}
    </ul>
  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes }}>{{ label }}</div>
    {% if multiple %}
      <ul class="location-list content-list">
    {% endif %}
    {% for item in items %}
      {% if multiple %}
        <li{{ item.attributes }}>{{ item.content }}</li>
      {% else %}
        <div{{ item.attributes }}>{{ item.content }}</div>
      {% endif %}
    {% endfor %}
    {% if multiple %}
      </ul>
    {% endif %}
  </div>
{% endif %}
