{%
set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'grid-container',
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="grid-row">
    <div{{ content_attributes.addClass(['cell', 'cell--content']) }}>
      {{ title_prefix }}
      {{ title_suffix }}
      {{ content.body }}
    </div>
    <div class="cell cell--address">
      {{ content.locations }}
    </div>
    <div class="cell cell--contactform">
      {{ content.form }}
    </div>
  </div>
</div>
