<!DOCTYPE html>
<html{{ html_attributes.addClass('no-js') }}>
  <head>
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="profile" href="http://microformats.org/profile/hcard">
    {% if pre_connect_targets %}
      {% for pre_connect_target in pre_connect_targets %}
        <link rel="preconnect" href="{{ pre_connect_target }}">
      {% endfor %}
    {% endif %}
    {% if preload_targets %}
      {% for preload_target in preload_targets %}
        <link rel="preload" href="{{ preload_target }}">
      {% endfor %}
    {% endif %}
    <head-placeholder token="{{ placeholder_token|raw }}">
    {% if critical_css %}
      {% if critical_css.external %}
        {% for external_critical_css in critical_css.external %}
          <link rel="stylesheet" media="all" href="{{ external_critical_css }}" />
        {% endfor %}
      {% endif %}
      {% if critical_css.inline %}
        <style>{{ critical_css.inline|raw }}</style>
      {% endif %}
    {% endif %}
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes }}>
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
