<div class="page-wrapper">
  {% include '@agoratheme/layout/partials/off-canvas.html.twig' %}
  {% include '@agoratheme/layout/partials/page-header.html.twig' %}
  <div id="page-content" {{ attributes }} role="main">
    <main>
      {% include '@agoratheme/layout/partials/page-info.html.twig' %}
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div class="page-error">
        <div class="page-error__content">
          <h1>403</h1>
          <h2>{{ 'You are not authorized to access this page.'|t }}</h2>
          {% if page.search %}
            <div class="page-error__content__search">
              {{ page.search }}
            </div>
          {% endif %}
          <a href="{{ url('<front>') }}" class="page-error__content__home-link">zurück zur Startseite</a>
        </div>
      </div>
    </main>
  </div>
  {% include '@agoratheme/layout/partials/page-footer.html.twig' %}
</div>
