<div class="page-wrapper">
  {% include '@agoratheme/layout/partials/off-canvas.html.twig' %}
  {% include '@agoratheme/layout/partials/page-header.html.twig' %}
  {% if page.breadcrumb %}
  <aside id="page-breadcrumb">
    {{ page.breadcrumb }}
  </aside>
  {% endif %}
  <main id="page-content" {{ attributes }} role="main">
    {% include '@agoratheme/layout/partials/page-info.html.twig' %}
    <span id="main-content" tabindex="-1"></span>{# link is in html.html.twig #}
    {{ page.content }}
  </main>
  {% include '@agoratheme/layout/partials/page-footer.html.twig' %}
</div>
